body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

nav {
    position:fixed;
    top: 0;
    width: clamp(100%, 40%, 10%);
    background-color: black;
    border-bottom: 2px white ridge;
    font-size:25px;
    display:flex;
    justify-content:space-around;
    width: 100%;
}

#nav-elements a {
    text-decoration: none;
    color: white;
    margin-right: 40px;
    font-size: 22px;
}

@media screen and (max-width: 600px) {
    #nav-elements a {
      font-size: 14px;
    }
  }

  @media screen and (min-width: 601px) {
    #nav-elements a {
      font-size: 35px;
    }
  }

#main-projects {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 2px;
  width: 90%;
  color: goldenrod;
  padding-top: 20%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#project-container {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    #main-projects {
      font-size: 15px;
    }
  }

  @media screen and (min-width: 601px) {
    #main-projects {
      font-size: 30px;
    }
  }

.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    width: auto;
    text-align: center;
}

.project-image {
    max-height: 80px;
    max-width: 80px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px gray;
}

#main-background {
    display: flex;
    justify-content:space-between;
    align-items: center;
    animation: fadeIn 1s;
    border: 4px white ridge;
    margin-top: 10%;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#information {
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 600px) {
  #information h1 {
    font-size: 18px;
    margin-top: 10px;
  }
  #information p {
    font-size: 28px;
    margin-top: 50px;
  }
  #my-image-container {
    align-items:center;
    margin-left: 0%;
  }
}

@media screen and (min-width: 601px) {
  #main-background {
    margin-top: 20%;
  }
  #information {
    padding: 10px;
  }
  #information h1 {
    font-size: 55px;
    margin-top: 10px;
  }
  #information p {
    font-size: 32px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
    #information {
      font-size: 15px;
    }
    #my-image {
      margin-top: 40%;
      min-height: 120px;
    }
  }

  @media screen and (min-width: 601px) {
    #information {
      font-size: 20px;
      margin: auto;
    }
  }

#my-image {
  flex-shrink: 0;
  max-width: 100%;
}

#my-image-container {
  width: 50%;
  float: right;
  background: radial-gradient(closest-side, rgb(65, 65, 65), rgb(39, 39, 39), black);;
}

.name-word {
    margin: 5px;
}

#contact-container {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly

}

.contact-link {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.contact-image {
  max-height: 40px;
  max-width: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}

#main-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: goldenrod;
  border-top: 2px white solid;
  margin-top: 20%;
}

#contact-banner {
  display: flex;
  justify-content: center;
}

.contact-details {
  color: white;
}

#main-about {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  background-color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  animation: fadeIn 2s;
}

.banner {
  background-color: black;
  color: white;
  margin-left: 10%;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: fit-content;
}

.about-container h4 {
  font-size: 36px;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-topic {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  #main-about {
    margin-top: 20%;
  }
  .about-card {
    max-width: 60%;
  }
  .about-card h4{
    font-size: 25px;
  }
  .about-title {
    font-size: 35px;
  }
}

@media screen and (min-width: 601px) {
  #main-about {
    font-size: 30px;
    margin-top: 20%;
  }
  .about-card {
    max-width:40%;
  }
    .about-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
    #about-container {
      font-size: 10px;
      margin: auto;
    }
    .about-topic {
      font-size: 20px;
    }
  }

  @media screen and (min-width: 601px) {
    #about-container {
      font-size: 25px;
      margin: auto;
    }
  }