body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

nav {
    position:fixed;
    top: 0;
    width: clamp(100%, 40%, 10%);
    background-color: black;
    box-shadow: 2px 2px 2px gray;
    font-size:25px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    max-height: 50px;
}

#nav-elements {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav-elements a {
    text-decoration: none;
    color: white;
    margin-right: 40px;
    font-size: 22px;
}

#developer-name {
  color: violet;
  display: flex;
  margin-left: 30px;
  font-size: 22px;
}

@media screen and (max-width: 600px) {
    #developer-name p {
      font-size: 14px;
    }
    #nav-elements a {
      font-size: 14px;
    }
    nav {
      justify-content: space-around;
    }
  }

  @media screen and (min-width: 601px) {
    #nav-elements a {
      font-size: 35px;
    }
  }

#main-projects {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgb(164, 164, 164);
  width: 90%;
}

#project-container {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: white;
    padding: 20px;
    margin: 20px;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    #main-projects {
      font-size: 15px;
    }
  }

  @media screen and (min-width: 601px) {
    #main-projects {
      font-size: 30px;
    }
  }

.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    width: auto;
    text-align: center;
}

.project-image {
    max-height: 80px;
    max-width: 80px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}

#main-background {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#information {
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#information h1{
  font-size: 55px;
}

#information p{
  font-size: 28px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 600px) {
  #information h1 {
    font-size: 18px;
    margin-top: 10px;
  }
  #information p {
    font-size: 18px;
    margin-top: 50px;
  }

  #my-image-container {
    align-items:center;
    margin-left: 0%;
  }
}

@media screen and (min-width: 601px) {
  #main-background {
    margin-top: 40px;
    margin-left: 10%;
  }
}

@media screen and (max-width: 600px) {
    #information {
      font-size: 15px;
      margin: 10px;
    }
    #my-image {
      margin-top: 40px;
      min-height: 120px
    }
  }

  @media screen and (min-width: 601px) {
    #information {
      font-size: 20px;
      margin: auto;
    }
  }

#my-image {
  flex-shrink: 0;
  max-width: 100%;
}

#my-image-container {
  width: 50%;
  float: right;
  background: radial-gradient(closest-side, rgb(65, 65, 65), rgb(39, 39, 39), black);;
}

.name-word {
    margin: 5px;
}

#contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-link {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.contact-image {
  max-height: 40px;
  max-width: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}

#main-contact {
  display: flex;
  flex-direction: column;
}

#contact-banner {
  display: flex;
  justify-content: center;
}

#main-about {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2px;
  margin: 10px;
  width: 90%;
}

.banner {
  background-color: black;
  color: white;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
}

.about-title {
  margin: 10px;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: fit-content;
}

.about-card {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin: 10px;
  align-items: center;
  border-bottom: 2px solid black;
}

.about-topic {
  display: flex;
  align-items: center;
  padding: 2px;
}

@media screen and (max-width: 600px) {
  #main-about {
    font-size: 15px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 601px) {
  #main-about {
    margin-top: 40px;
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
    #about-container {
      font-size: 10px;
      margin: auto;
    }
  }

  @media screen and (min-width: 601px) {
    #about-container {
      font-size: 25px;
      margin: auto;
    }
  }